{% extends "base.html" %}
{% block content %}
<body style="text-align: center;">    
  <h3>Home</h3>
  <hr width="100%" color="black"/>

  <table class="table table-borderless" style="margin-left: auto; margin-right: auto;">
    <tr>
      <td><img src="{{ url_for('static',filename='images/upload.png') }}", width="50")/></td>
      <td><img src="{{ url_for('static',filename='images/face.png') }}", width="50")/></td>
    </tr>
    
    <tr>
      <td><a href="./upload">사진 1장 업로드!</a></td>
      <td><a href="./face">닮은 연예인 찾기!</a></td>
    </tr>
  </table>
</body>
{% endblock %}